<h1><%= @user.username %></h1>

<%= image_tag(@user.avatar.url(:avatar)) %><br>
<%= image_tag(@user.user_pic.url(:user_pic)) %><br>

<% if current_user && policy(@user).edit_profile? %>
  <%= link_to 'Edit Profile', edit_profile_user_path(current_user) %>
<% end %>
