<h1>Welcome to Auracle!</h1>

<p>Soon, you'll be able to enjoy an explorative music experience based around subjective qualities rather than connections between artist and genre. This is very much a work in progress but I thank you for checking it out!</p>

<p> - Nicholas Case</p>
