<h1>New playlist</h1>

<%= render 'form' %>

<% if current_user.role == "band" %>
  <%= link_to 'Back', user_playlists_path(@user) %>
<% else %>
  <%= link_to 'Back', "/users/#{current_user.to_param}/playlists" %>
<% end %>
