<h3>Here's the blacklist for <%= @playlist.name %></h3>

<% @playlist.blacklist.each do |song| %>
  <% @song = Song.find(song) %>
  <% @album = Album.find(@song.album_id) %>
  <% @band = User.find(@album.user_id) %>

  <%= @band.username %> - <%= @song.title %><br>
  <%= link_to 'Remove from blacklist', unblacklist_user_playlist_path(@user, @playlist, :song_id => song), method: :put %><br><br>
<% end %>
